---
import Layout from '../layouts/Layout.astro';
import { defaultLang, loadTranslations } from '../i18n/ui';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import CatalogueSection from '../components/CatalogueSection.astro';
import About from '../components/About.astro';
import ReferencesSection from '../components/ReferencesSection.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const translations = loadTranslations(defaultLang);
---

<Layout lang={defaultLang} translations={translations}>
    <header>
        <Navbar client:load />
    </header>
    
    <Hero client:load />
    
    <main>
        <CatalogueSection client:load />
        <About client:load />
        <ReferencesSection client:load />
        <Contact client:load />
    </main>
    
    <footer>
        <Footer client:load />
    </footer>
</Layout>