---
import { loadTranslations } from "../i18n/ui";
import CategoriesGallery from "./CategoriesGallery.astro";
import Mansonry from "./Mansonry.astro";


const { lang } = Astro.params;
const translations = loadTranslations(lang);
---

<section class="catalogue-container" id="catalogue">
    <div>
        <h2>{translations.catalogue.title}</h2>
        <p>{translations.catalogue.paragraph}</p>
    </div>
    <div class="view-category">
        <CategoriesGallery translations={translations} />
    </div>
    <div class="mansory-container">
        <p class="mansonry-title">{translations.catalogue.paragraph_cta}</p>
        <Mansonry />
    </div>
</section>


<style>
    .catalogue-container{
        margin: 0;
        padding: 60px 10px;
        background: linear-gradient(180deg, #F7E7CE 0%, #C3A776 100%);
    }

    h2{
        margin: 0;
        text-align: center;
        font-weight: 400;
        color: var(--black);
    }

    p{
        text-align: center;
        padding: 20px 10px 0 10px;
        font-size: clamp(1.125rem, 1.1075rem + 0.0877vw, 1.25rem);
        font-weight: 300;
        color: var(--black);
    }

    .mansonry-title{
        color: var(--walnut);
        font-weight: 500;
    }

</style>