---
import { getLocalizedAnchor } from "../i18n/ui";
import CategoriesGallery from "./CategoriesGallery.astro";
import Mansonry from "./Mansonry.astro";
import { gsap } from 'gsap';

const { lang } = Astro.params;
const { translations } = Astro.props;

---

<section class="catalogue-container" id={getLocalizedAnchor('gallery', lang)}>
    <div class="text-container">
        <h2 class="slide-in">{translations.catalogue.title}</h2>
        <p class="slide-in">{translations.catalogue.paragraph}</p>
    </div>
    <div class="view-category">
        <CategoriesGallery translations={translations} />
    </div>
    <div class="mansory-container">
        <p class="mansonry-title slide-in">{translations.catalogue.paragraph_cta}</p>
        <Mansonry />
    </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  
  document.addEventListener('DOMContentLoaded', () => {
    // Registrar plugin ScrollTrigger
    if (typeof ScrollTrigger !== 'undefined') {
      gsap.registerPlugin(ScrollTrigger);
    }
    
    const section = document.getElementById('catalogue');
    if (!section) return;
    
    // Configuración inicial para elementos
    gsap.set('.slide-in', {
      x: -100,
      opacity: 0
    });
    
    gsap.utils.toArray('.slide-in').forEach(el => {
      gsap.to(el as HTMLElement, {
        x: 0,
        opacity: 1,
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: el as HTMLElement,
          start: "top 80%",
          once: true
        }
      });
    });
  });
</script>


<style>
    .catalogue-container{
        margin: 0;
        padding: 60px 10px;
        background: linear-gradient(180deg, #F7E7CE 0%, #C3A776 100%);
    }

    h2{
        margin: 0;
        text-align: center;
        font-weight: 400;
        color: var(--black);
    }

    p{
        text-align: center;
        padding: 20px 10px 0 10px;
        font-size: clamp(1.125rem, 1.1075rem + 0.0877vw, 1.25rem);
        font-weight: 300;
        color: var(--black);
    }

    .mansonry-title{
        color: var(--walnut);
        font-weight: 500;
    }

    .slide-in {
        will-change: transform, opacity;
    }

</style>