---
import Layout from '../../layouts/Layout.astro';
import { loadTranslations } from '../../i18n/ui';
import Hero from '../../components/Hero.astro';
import Navbar from '../../components/Navbar.astro';
import CatalogueSection from '../../components/CatalogueSection.astro';
import About from '../../components/About.astro';
import ReferencesSection from '../../components/ReferencesSection.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';


const { lang } = Astro.params;
const currentLang = lang && ["en", "es"].includes(lang) ? lang : 'es';

const translations = loadTranslations(currentLang);

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
  ];
}
---

<Layout lang={currentLang} translations={translations}>
	<header>
		<Navbar client:load />
	</header>
	<Hero client:load />
	<main>
		<CatalogueSection client:load />
		<About client:load />
		<ReferencesSection client:load />
		<Contact client:load />
	</main>
	<footer>
		<Footer client:load />
	</footer>
</Layout>