---
interface Props {
  text: string;
  color: string; 
  class?: string;
}

const { text, color = "var(--golden-sand)", class: customClass } = Astro.props;
---

<a href="" class={`btn ${customClass || ""}`} style={`background: ${color};`}>
  {text}
</a>

<style>
  .btn {
    text-decoration: none;
    width: auto;
    display: inline-block;
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: var(--black);
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }

  .btn:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  </style>




