---
import gsap from "gsap";
import { loadTranslations } from "../i18n/ui";
import BtnLayout from "./BtnLayout.astro";


const { lang } = Astro.params;
const translations = loadTranslations(lang);

---

<section class="hero">
  <div class="hero-content">
    <picture class="logo-container-hero">
        <img class="logo-hero" src={translations.hero.logo} alt={translations.hero.alt}>
    </picture>
    <p>{translations.hero.content}</p>
    <BtnLayout text={translations.hero.btn_cta} color="var(--linen)" />
  </div>
  <div class="hero-image-container">
    <picture class="hero-image">
          <img class="img-hero" src="/img/hero-jewellery.webp" alt="">
    </picture>
  </div>
</section>

<script>
    import gsap from "gsap";
    
    gsap.from(".logo-container-hero", {
      y: 50,
      opacity: 0,
      duration: 2,
      ease: "power3.out",
    });
    
    gsap.from("p", {
      y: 50,
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "power3.out",
    });

    gsap.from("button", {
      y: 50,
      opacity: 0,
      duration: 1,
      delay: 0.8,  
      ease: "power3.out",
    });
</script>

<style>
  .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-image: url(/img/hero-flower.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 650px;
  padding: 0 10px;
  background: rgba(137, 100, 76, 0.664);
}


.logo-container-hero {
  width: 200px;
  height: auto;
}


.hero-image-container {
  display: none; 
  width: 100%;
  height: auto;
}

p{
  font-size: clamp(1rem, 0.9825rem + 0.0877vw, 1.125rem);
  color: var(--beige);
  text-align: center;
}


.img-hero,
.logo-hero {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 20px;
    height: 800px;
  }

  .hero-content{
    height: 800px;
  }

  p{
    width: 80%;
  }

  .hero-image-container {
    display: block;
    width: 100%;
    height: 800px; 
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .img-hero {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
}
</style>